* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf8f5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #266150;
  height: 60px;
  padding: 20px 40px;
  border-bottom: #ddaf94 solid 10px;
  /* position: fixed; */
}

.navbar {
  list-style-type: none;
  color: #fdf8f5;
  float: right;
  font-size: 15px;
  position: relative;
  bottom: 5px;
}

.navbar li {
  display: inline;
  margin-left: 40px;
}
h1 {
  text-align: center;
  margin: 5px;
  color: #4c4544;
}
.box {
  width: 300px;
  display: block;
  margin: 20px auto;
  height: 300px;
  background-color: #504846;
}
.light {
  width: 270px;
  height: 270px;
  border: #e8cebf solid 7px;
  position: relative;
  margin: 0 auto;
  top: 15px;
}
.green {
  width: 225px;
  height: 225px;
  border: #266050 solid 7px;
  position: relative;
  margin: 0 auto;
  top: 15px;
}
.mauve {
  width: 175px;
  height: 175px;
  border: #ddaf95 solid 7px;
  position: relative;
  margin: 0 auto;
  top: 16px;
}

.text {
  color: #e8cebf;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  border: solid 5px #434544;
  width: 125px;
  line-height: 1.2;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}

p {
  text-align: center;
  color: #4c4544;
  margin-bottom: 30px;
}

.contact {
  background-color: #e8cebf;
  border-top: #ddaf94 solid 3px;
  padding: 30px;
}

h2 {
  text-align: center;
  letter-spacing: 0.3px;
  color: #4c4544;
}

form {
  width: 520px;
  margin: 0 auto;
  color: #4c4544;
  padding: 10px;
  border: solid 4px #dcaf96;
  border-radius: 20px;
  margin-top: 20px;
}

form input {
  width: 300px;
  height: 15px;
}

.input-1,
.input-2 {
  width: 75%;
  margin: 0 auto;
  font-size: 17px;
}

.input-2 {
  position: relative;
  left: 3px;
}

#send-button {
  display: block;
  border-style: outset;
  color: #fdf8f5;
  background-color: #4f4846;
  padding: 8px 35px;
  margin: 0 auto;
}
